*PYTHON FUNDAMENTALS*

**Excercise 1.Write Python code that prints your name, student number and email address.  
An example runs of the program:**

In [10]:
Name = 'Radhika'
SN = 1016
EM = 'radhikaps70@gmail.com'

In [11]:
print('The name of the student is:', Name)
print('The Student number is:', SN)
print('The Email of the student is:', EM)

The name of the student is: Radhika
The Student number is: 1016
The Email of the student is: radhikaps70@gmail.com

In [ ]:
# OR

In [1]:
print('Radhika')
print('1016')
print('radhikaps70@gmail.com')

Radhika
1016
radhikaps70@gmail.com

**Excercise 2.Write Python code that prints your name, student number and email address using escape sequences.**

In [3]:

Name = 'Radhika'
SN = 1016
EM = 'radhikaps70@gmail.com'
print('Name:' +Name+'\nStudent number:' +str(SN)+ '\nEmail:'+EM)

Name:Radhika
Student number:1016
Email:radhikaps70@gmail.com

In [ ]:
# OR

In [31]:
print('Radhika\n1016\nradhikaps70@gmail.com')

Radhika
1016
radhikaps70@gmail.com

Excercise 3.**Write Python code that add, subtract, multiply and divide the two numbers. You can use the two numbers 14 and 7.**

In [9]:
a=14
b=7
c=a+b
d=a-b
e=a*b
f=a/b

In [12]:
print(f'The sum is:, {a}+{b}={c}')
print(f'The subtraction is: {a}-{b}={d}')
print(f'The productis:, {a}*{b}={e}')
print(f'The division is: ,{a}/{b}={f}')

The sum is:, 14+7=21
The subtraction is: 14-7=7
The productis:, 14*7=98
The division is: ,14/7=2.0

Excercise 4.**Write Python code that displays the numbers from 1 to 5 as steps.**

In [38]:
for i in range(1,6):
 print(i)

1
2
3
4
5

Excercise 5.**Write Python code that outputs the following sentence (including the quotation marks and line break) to the screen:**

In [45]:
print('\"SDK\"stands for \"Software Development Kit \",where as\n\"IDE\" stands for \"Integrated Development Enviornment\".')

"SDK"stands for "Software Development Kit ",where as
"IDE" stands for "Integrated Development Enviornment".

Excercise 6.** practice**

In [46]:

print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri
5
e
Entri
2023
Entr2023
Entri*20

Excercise 7.**Define the variables below. Print the types of each variable. What is the sum of your variables? (Hint: use a type conversion function.) What datatype is the sum?**

In [1]:
num=23
Text_num='57'
Decimal=98.3

In [2]:
print('Type of num is:', type(num))
print('Type ofText_num is:', type(Text_num))
print('Type of Decimal is:', type(Decimal))

Type of num is: <class 'int'>
Type ofText_num is: <class 'str'>
Type of Decimal is: <class 'float'>

In [4]:
sum=num+int(Text_num)+Decimal   # text num is converted to int from str data type
print('sum is:',sum )
print('type of sum is:',type(sum))

sum is: 178.3
type of sum is: <class 'float'>

Excercise 8.**calculate the number of minutes in a year using variables for each unit of time. print a statement that describes what your code does also. Create three variables to store no of days in a year, minute in a hour, hours in a day, then calculate the total minutes in a year and print the values
(hint) total number of minutes in an year =No.of days in an year * Hours in a day * Minutes in an hour**

In [5]:
NDY=365
HD=24
MH=60

In [8]:
NMY=NDY*HD*MH
print('number of minutes in an year is:',NMY)

number of minutes in an year is: 525600

Excercise 9.**Write Python code that asks the user to enter his/her name and then output/prints his/her name with a greeting.**

In [21]:
Name=input('Enter your Name')
print(f'Hi,{ Name},Welcome to python programming :)')

Enter your Name Radhika

Hi,Radhika,Welcome to python programming :)

In [ ]:
# OR

In [14]:
Name=input('Enter your Name')
print('Hi' , Name + '\tWelcome to python programming :)')

Enter your Name Radhika

Hi Radhika	Welcome to python programming :)

Excercise 10.**Write a program that asks the user to enter an amount in pounds (Â£) and the program calculates and converts an amount in dollar ($)**

In [27]:
###rate=1.24
P=float(input('Enter your amount in POUND:'))
A= P*rate
print( P ,'Pounds are', A,'Dollars')

Enter your amount in POUND: 30

30.0 Pounds are 37.2 Dollars

# OR

In [25]:
rate=1.24
P=float(input('Enter your amount in POUND:'))
A= P*rate
print( f'{P} Pounds are {A} Dollars')

Enter your amount in POUND: 30

30.0 Pounds are 37.2 Dollars

In [ ]:
# OR

In [26]:
 rate=1.24
P=float(input('Enter your amount in POUND:'))
A= P*rate
print(str(P) + ' Pounds are '  +  str(A)  + ' Dollars ')

Enter your amount in POUND: 30

30.0 Pounds are 37.2 Dollars