1.**Function that takes in three arguments, two of which are optional. The first argument should be a required positional argument, the second argument should be a keyword argument with a default value of 10, and the third argument should be a keyword argument with a default value of None.**

In [12]:
def single_function(a,b=10,c="none"):
 if c =="none":
  return a+b

 else:  
  return a*b*c 
    
s=single_function(2)
p=single_function(2,4)
k=single_function(2,4,5)

print(" the sum is:",s)
print(" the sum is:",p)
print(" the product is:",k)

 the sum is: 12
 the sum is: 6
 the product is: 40

2.**Function that takes in a list of strings and returns a new list with only the strings that have a length greater than or equal to 5.**

In [1]:
def list_converter(L):
  new_list=[]
  for i in L:
    if len(i)>=5 :
      new_list.append(i)
  return new_list

C=list_converter(["china","new york","india","chili","USA","Denamrk","UAE"])

print("the new list is:",C)

the new list is: ['china', 'new york', 'india', 'chili', 'Denamrk']

  3.**Python program to evaluate a given mathematical expression using the eval() function. expression = "3 * 5 + 2"**.

In [3]:
expression = "3 * 5 + 2"
final_answer=eval(expression)             # eval() convert expression to exact equation
print(" the result is:",final_answer)

 the result is: 17

4. **Python program to filter out the prime numbers from a given list of integers using the filter() function.**

In [6]:
def prime_fun(n):
   if n<2:
    return False
   
   elif n==2 :
     return True
       
   elif n%2==0:
    return False
       
   for i in range (3,int(n**1/2)+1,2) :      # check all factors till the sqaure root of the number.
        if n%i==0 :
         return False
        
   return True

list_numbers=[10,2,3,17,9,8,15]
prime_number_list=list(filter(prime_fun,list_numbers))     # filter apply the function to each number in the list and keep the numbers which satidfy the condition.
print(" the prime numbers are:",prime_number_list)

 the prime numbers are: [2, 3, 17]

5.**Python program to convert a list of strings to uppercase using the map() function.**

In [2]:
L=["car","bike","cycle","truck","bus"]
    
final_list= list(map(str.upper,L))                         # map() apply the condition to each strings  in the list of strings.
print(" the final list is:",final_list)

 the final list is: ['CAR', 'BIKE', 'CYCLE', 'TRUCK', 'BUS']